.navbar {
    background-color: transparent !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white !important; 
  }
  
  .navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  